<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }} | datawithalvin</title>
    <link rel="shortcut icon" href="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Crect width='16' height='16' fill='none'/%3E%3Ctext x='50%' y='50%' text-anchor='middle' font-size='16' dominant-baseline='middle'>💫</text%3E%3C/svg%3E">
    <link href="https://fonts.googleapis.com/css2?family=Oxygen:wght@500;700&display=swap" rel="stylesheet">
    <link href="/portofolio-web/styles/main.css" rel="stylesheet">
</head>
<body>
    <div id="main-content">
        {{ content }}
    </div>
    <footer id="page-footer">
        <small>datawithalvin ✷ 2023</small>
    </footer>
    <script src="/portofolio-web/scripts/main.js"></script>
</body>
</html>