/* main.css */

body {
    font-family: 'Oxygen', sans-serif;
    line-height: 1.6;
    color: #333;
    margin: 0;
    padding: 0;
}

#main {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
}

#main-content {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
    text-align: justify;
}

.top-image {
    display: inline-block;
    width: max-content;
    margin-bottom: 1.5rem;
}

.top-image img {
    width: 75%;
}

h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

p {
    font-size: 1.1rem;
    margin-bottom: 1.5rem;
    line-height: 1.2;
}

#main-content p {
    font-weight: normal;
    font-size: 1.1rem;
    margin-bottom: 1.5rem;
    line-height: 1.2;
}

.list {
    list-style: none;
    padding: 0;
}

.list-item {
    margin-bottom: 1rem;
}

.list-item a {
    text-decoration: none;
    color: #333;
}

.list-item a:hover {
    color: #0070f3;
}

.date, .project-summary {
    font-size: 0.9rem;
    color: #777;
}

.date {
    display: inline-block;
    margin-right: 1rem;
}

#page-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 1rem;
    background-color: #f3f3f3;
}

#page-footer small {
    font-size: 0.9rem;
}

/* .buttons-container button {
    background-color: #0070f3;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
  }
  
  .buttons-container button:hover {
    background-color: #0059b3;
  }
   */